# Environment
.env
backend/.env
.env.example

# Node
frontend/node_modules/
frontend/.vite/

# Python
backend/venv/
__pycache__/
*.pyc

# SQLite DB (local dev only)
*.sqlite3
backend/db.sqlite3

# Builds
frontend/dist/
